.UserMenu-button {
    width: 95%;
    text-align: left;
    display: block;
    font-size: 2vh;
    text-decoration: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
    color: white;
    padding-left: 1vh;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.UserMenu-button:hover {
    background-color: #86959e;
}

.UserMenu-container {
    margin-top: 1vh;
}